.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }
  
  .navbar .navLinks a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .navbar .cartIcon {
    cursor: pointer;
    font-size: 24px;
  }
  